.icon {
    width: 100px;
    margin-right: 15px;
}
.button {
    width: 800px;
    background-color: #b5ded3;
    border-radius: 15px;
    margin: 2.5px;
    height: 120.2px;
}
.button-content {
    display: flex;
    align-items: center;
    font-size: 40px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
}
.title {
    background-color: #66cdb2;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;
    margin-bottom: 7.5px;
}
.page {
    display: flex;
    justify-content: center;
}
.jessa {
    height: 60px;
}
.top {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.back{
    width: 130px;
    background-color: #77817e28;
    border-radius: 15px;
    margin: 2.5px;
    height: 50px;
}
.infobutton{
    display: flex;
    align-items: center;
    font-size: 40px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 15px;
    width: 800px;
    border-radius: 15px;
    margin: 2.5px;
    height: 120.2px;
}
.blue{
    background-color: #46A6D6;
}
.red{
    background-color: #F36657;
}
.pink{
    background-color: #FF66FF;
}
.blue2{
    background-color: #6C8BC7;
}
.backarrow{
   width: 35px;
}